.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--main-font-weight);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.content-section {
  width: var(--cover-width);
  margin-inline: auto;
}

.header {
  background-color: #fff;
  border: 2px solid #000;
  padding-block: clamp(7.625rem, 7.049rem + 2.46vw, 8.125rem);
  padding-inline: clamp(1rem, -6.68rem + 32.77vw, 7.65625rem);
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 100px;
  margin-bottom: 91px;
}

.header__logo {
  font-family: var(--accent-font, sans-serif);
  font-size: clamp(3.0625rem, 1.885rem + 4.92vw, 4.0625rem);
  margin: 0;
  margin-bottom: 20px;
}

.header__title {
  font-family: var(--accent-font, sans-serif);
  font-size: clamp(0.875rem, 0.212rem + 2.77vw, 1.4375rem);
}

.card {
  background-color: #fff;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.sprints {
  margin-bottom: 46px;
}

.card__title {
  font-family: var(--main-font, sans-serif);
  font-weight: var(--title-font-weight, 715);
  font-size: 18px;
  margin: 0;
  padding: 6px 10px;
  border-bottom: 2px solid #000;
}

.card__image-container {
  position: relative;
  border-bottom: 2px solid #000;
}

.card__image {
  width: 100%;
  display: block;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  color: #000;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1px -1px 0 var(--label-stroke-color),
    1px -1px 0 var(--label-stroke-color), -1px 1px 0 var(--label-stroke-color),
    1px 1px 0 var(--label-stroke-color);
  @supports (-webkit-text-stroke: 1px #fff) {
    .card__label {
      text-shadow: none;
      -webkit-text-stroke: 1px var(--label-stroke-color);
    }
  }
}

.card__content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__text {
  font-family: var(--main-font, sans-serif);
  font-weight: var(--main-font-weight, 400);
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.card__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  padding: 25px;
  padding-top: 0;
}

.card__icon-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border: 2px solid #000;
  background-color: #fff;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  min-width: 130px;
  position: relative;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  overflow: hidden;
  z-index: 1;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text {
  position: relative;
  z-index: 2;
  color: #fff;
  mix-blend-mode: difference;
}

.floppy-icon {
  position: relative;
  z-index: 2;
  filter: invert(1);
  mix-blend-mode: difference;
}

.card__icon-button {
  background: transparent;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.save-button {
  margin-inline: auto;
  margin-bottom: 100px;
  min-width: 335px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 17px 20px;
}

.dialog {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 10;
  min-width: 353px;
  padding: 30px;
  background-color: #fff;
  border: 2px solid #000;
  color: #000;
  font-family: var(--accent-font, sans-serif);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  text-align: left;
}

.dialog__icon {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
}

.dialog__title {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

.dialog__form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dialog__button {
  width: 100%;
  max-width: 293px;
  padding: 10px 0;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #000;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
  }
}

.dark-truck {
  filter: saturate(20%);
}

.light-truck {
  filter: saturate(280%);
}

.purple-truck {
  filter: hue-rotate(30deg);
}

.blue-truck {
  filter: invert(50) contrast(60%);
}

.retro-truck {
  filter: sepia(1);
}

.blured-truck {
  filter: blur(0.9rem);
}

.green-truck {
  filter: hue-rotate(100deg) brightness(120%) saturate(110%) contrast(50%)
    blur(4px);
}
