:root {
  --main-font: "Inter", sans-serif;
  --accent-font: "PressStart2P", sans-serif;
  --main-font-weight: 410;
  --title-font-weight: 715;
  --bg-image: repeating-linear-gradient(to right,#d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --cover-width: clamp(23.4375rem, 100%, 43.75rem);
  --label-stroke-color: #fff;
  --accent-color: #000;
  --contour-color: #000;
  --heart-color: #FF0000;
}
